body{
    font-family: Manrope, sans-serif;
    position: relative;
    z-index: -100;
}

ul{
  padding-left: 0;
}
nav{
  position: relative;
  z-index: 10;
    background-color: #000;
    width: 100%;
    height: 80px;
    position: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    float: left;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
header li{
    float: left;
}
menu{
    width: 90%;
    height: 80px;
    line-height: 80px;
}
menu ul{
    display: flex;
    justify-content: space-around;
    margin-right: 2%;
}
menu li{
    font-size: 13px;
    text-transform: uppercase;
    
}
menu a:visited{
    color: white;
}
menu li a{
    text-decoration: none;
    display: block;
    color: white;
    transition: all 0.25s ease-in;
    transform: scale(1);
}
menu li a:hover{
  transform: scale(1.1);
  color: #7245d4;
}
menu li a:active{
  transform: scale(1);
}
.burger-menu{
    display: none;
}
.responsive {
    width: 100%;
    height: auto;
}
.logo{
    line-height: 80px;
    width: 25%;
    display: inline-flex;
    align-items: center;
    margin-left: 2%;
    float: left;
    font-size: 20px;
}
.logo a{
  color: #FFF;
  text-decoration: none;
}
@media(max-width: 578px){
  .counter{
    margin-top: 25%;
  }
}
@media(max-width: 1300px){
    .logo h2{
        font-size: 18px;
    }
    menu li{
        font-size: 10px;
    }
}

@media(max-width: 992px){
  body.lock{
    overflow: hidden;
  }
    menu{
        display: none;
    }
    .logo{
        justify-content: start;
        position: absolute;
        left: 5%;
        width:95% ;
        margin-left: 0;
    }
    nav{
        position: fixed;
        width: 100%;
    }
    .burger-menu{
        display: flex;

    }
    .menu-btn{
        display: flex;
        align-items: center;
        position: absolute;
        top: 27px;
        right: 5%;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 3;
      }
       
      .menu-btn > span,
      .menu-btn > span::before,
      .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #FFF;
        transition-duration: .25s;
      }
      .menu-btn > span::before {
        content: '';
        top: -8px;
      }
      .menu-btn > span::after {
        content: '';
        top: 8px;
      }
      .menubox ul{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .menubox{
        text-align: start;
        display: block;
        position: fixed;
        visibility: hidden;
        z-index: -5;
        top: 5%;
        right: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #000;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
      }
      .menu-item {
        display: block;
        padding: 12px 24px;
        color: #FFF;
        font-family: Manrope, sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none ;
        transition-duration: .25s;
      }
      .menu-item:hover {
        background-color: #000;
      }
      .menu-item:visited{
          color: white;
      }
       
      .menubox li{
        float: none;
        width: 100%;
        height: 10%;
      }
      #menu-toggle{
        opacity: 0;
      }
       
      #menu-toggle:checked ~ .menu-btn > span{
        transform: rotate(45deg);
      }
      #menu-toggle:checked ~ .menu-btn > span::before{
        top: 0;
        transform: rotate(0);
      }
      #menu-toggle:checked ~ .menu-btn > span::after{
        top: 0;
        transform: rotate(90deg);
      }
      #menu-toggle:checked ~ .menubox{
        visibility: visible;
        right: 0;
        overflow: hidden;
      }
      .menubox a:active{
        visibility: hidden;
      }
      body.lock{
        overflow: hidden;
      }
      
}
.lock-scroll {
  overflow: hidden;
}
.article h1{
    font-size: 32px;
}
.news{
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: space-around;  
    
  }
  .news a{
    color: #FFF;
  }
  .news a:visited{
    color: #FFF;
  }
  .new{
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 230px;
    height: 280px;
  }
  @media(max-width:1435px) {
    .new{
      width: 190px;
      height: 230px;
    }
    .new img{
        width: 190px;
        height: 230px;
      }
    }
    
  .news img{
    position:absolute;
    z-index: -2;
  }
  .news h5{
    font-size: 14px;
    padding-left: 15px;
  }
  .news span{
    display:  flex;
    padding-left: 15px;
    padding-bottom: 15px;
  }
  @media(max-width:1210px) {
    .new{
        width: 160px;
        height: 200px;
      }
      .new img{
          width: 160px;
          height: 200px;
        }
      .news h5{
          font-size: 10px;
      }
      .news span{
        font-size: 10px;
    }

}
@media(max-width:998px) {
    .new{
        width: 120px;
        height: 160px;
      }
      .new img{
          width: 120px;
          height: 160px;
        }
      .news h5{
        padding-left: 5px;
          font-size: 7px;
      }
      .news span{
        padding-left: 5px;
        font-size: 7px;
    }

}
@media(max-width:770px) {
    .new{
        width: 100px;
        height: 140px;
      }
      .new img{
          width: 100px;
          height: 140px;
        }
      .news h5{
          padding-left: 5px;
          font-size: 5px;
      }
      .news span{
        padding-left: 5px;
        font-size: 5px;
    }

}
@media(max-width:355px) {
    .new{
        width: 90px;
        height: 130px;
      }
      .new img{
          width: 90px;
          height: 130px;
      }

}
@media(max-width:568px) {
    .new{
        width: 90px;
        height: 120px;
      }
      .new img{
          width: 90px;
          height: 120px;
        }
      .news h5{
          font-size: 6px;
      }
      .news span{
          padding-bottom: 8px;
        font-size: 6px;
    }

}
@media(max-width:490px) {
    .new{
        width: 60px;
        height: 90px;
      }
      .new img{
          width: 60px;
          height: 90px;
        }
    footer p{
        font-size: 11px;
    }
}
@media(max-width:410px) {
    .new{
        width: 58px;
        height: 98px;
      }
      .new img{
        width: 68px;
        height: 98px;
        }
      .news h5{
          font-size: 4px;
      }
      .news span{
        font-size: 4px;
    }
    .article h1{
        font-size: 25px; 
    }
    
}
@media(max-width:380px) {
    .new{
        width: 50px;
        height: 85px;
      }
      .new img{
        width: 55px;
        height: 80px;
        }
      .news h5{
          font-size: 4px;
      }
      .news span{
        font-size: 4px;
    }
}
  .news a:visited{
    color: #FFF;
    text-decoration: none;
  }
  .activity input::-webkit-input-placeholder {
    color: #8B79BE;
   } 
   .activity input::-moz-placeholder {
    color: #8B79BE;
   }

.article p{
    font-size: 16px;
}
.article h3{
    color: darkgray;
    font-size: 16px;
}
.pages a{
    text-decoration: none;
    color: #000;
  }
  .pages a:visited{
    color: #000;
  }
  .pages a:hover{
    color: blue;
  }
   footer{
    width: 100%;
    height: 125px;
    background-color: #000;
  }
  footer p{
    line-height: 125px;
    color: #FFF;
    text-align: center;
  }
  .fotblock{
  
      width: auto;
      height: 300px;
  }
  .fotblock img{
    width: auto;
    height: 300px;
    border: solid 2px black;
  }
  .about{
    font-size: 18px;

}
  @media (max-width:1200px) {

  }
  @media (max-width:707px) {
    .bl{
        padding-left: 15%;
    }
}
@media (max-width:578px) {
    .bl{
        padding-left: 20%;
    }
    .about{
      font-size: 14px;
  
  }
}

.winauth h6{
    color: rgb(148, 147, 147);
    padding-left: 11%;
}
.string{
    width: 60%;
    height: 36px;
    padding-left: 10px;
    border-radius: 10px;
    z-index: 9;
    cursor: text;
    outline: none;
    background: rgb(211, 211, 211);
    color: #000;
  }
.cont{
    display: flex;
    align-items: center;
}
.cont input{
    margin-right: 8px;
}
.btns button{
    border-radius: 10px;
    background-color: blue;
    color: #FFF;
    width: 300px;
    height: 30px;
    transform: scale(1);
    transition: all 0.05s;
}
.btns{
    display: flex;
    justify-content: space-between;
}
.btns button:hover{
    transform: scale(1.1);
}
.btns button:active{
    transform: scale(0.95);
}
.winauth a{
    color: #000;
  }
  .winauth a:visited{
    color: #000;
  }
  .winauth a{
    text-decoration: none;
    font-weight: 600;
  }
  .winauth a:hover{
    color: #7e6ab4;
  }
  @media (max-width:518px) {
    .winauth h3{
       font-size: 16px;
    }
    .btns button{
      width: 300px;
  }
  .cont{
    font-size: 12px;
  }
  .locale{
    font-size: 12px !important;
  }
  .vac h2{
    font-size: 15px !important;
}
}

@media (max-width:968px) {

  .btns button{
    width: 150px;
}
}
.tags a{
  color: blue !important;
  text-decoration: none;
}
.tags a:hover{
  color: black !important;

}
.zp h2{
  font-weight: lighter !important;
}
.vac h2{
    font-weight: bold;
    font-size: 18px;
}
.locale{
  font-size: 15px;
}

.ls li{
  list-style-type: circle;
  padding-bottom:2% ;
}
.ls ul{
  padding-left: 5%;
}
.responsive {
  max-width: 30px;
  height: auto;
}
.btnvac{
  margin-left: 30%;
}
.edit-cover{
  margin-left: 30%;
  width: 70%;
}
@media (max-width: 992px){
.blvac {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
    height: 350px !important;
  
}
.edit-cover{
  margin-left: 20%;
  width: 80% ;
}
.vac{
  width: 100% !important;
}
.btnvac{
  display: flex;
  justify-content: center;
  margin-left: 0;
}
}
@media (max-width: 800px){
  .edit-cover{
    margin-left: 10%;
    width: 90% ;
  }
  .vac{
    width: 90% !important;
  }
}
.pers h5{
  color: #FFF;
}
.pers{
  display: flex;
  justify-content: space-between;
}
.pers .new img{
  width: 280px !important;
  height: 280px !important;
}
.inter{
  max-width: 280px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
}
.btninter{
  width: 100%;
  height: 25px;
  border-radius: 5px;
  background-color: darkblue;
  color: #FFF;
}

@media (max-width:1438px) {
  .pers{
  margin-top: 20%;
  }
  .pers .new{
    width: 100%;
  }
  .pers h5{
    font-size: 14px;
  }
}
@media (max-width:998px) {
  .pers{
  margin-top: 40%;
  }

}
@media (max-width:770px) {
  .pers{
  margin-top: 50%;
  
  }

}
@media (max-width:576px) {
  .pers{
  margin-top: 40%;
  margin-bottom: 0;
  margin-left: 20%;
  }
}
@media (max-width:438px) {
  .pers{
  margin-top: 65%;
  margin-left: 15%;
  }
}
@media (max-width:346px) {
  .pers{
  margin-top: 70%;
  margin-left: 7%;
  }
}

.countenter{
  padding-left: 27%;
}
.regist{
  padding-left: 2%;
}
@media (max-width:768px) {
  .countenter{
    padding-left: 17%;
  }
  .regist{
    padding-left: 2%;
  }
}
@media (max-width:576px) {
  .countenter{
    padding-left: 11%;
  }
  .regist{
    padding-left: 11%;
  }
}