body{
    font-family: Manrope, sans-serif;
    position: relative;
    z-index: -100;
}
ul{
  padding-left: 0;
}
nav{
  position: relative;
  z-index: 10;
    background-color: #000;
    width: 100%;
    height: 80px;
    position: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    float: left;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
header li{
    float: left;
}
menu{
    width: 90%;
    height: 80px;
    line-height: 80px;
}
menu ul{
    display: flex;
    justify-content: space-around;
    margin-right: 2%;
}
menu li{
    font-size: 13px;
    text-transform: uppercase;
    
}
menu a:visited{
    color: white;
}
menu li a{
    text-decoration: none;
    display: block;
    color: white;
    transition: all 0.25s ease-in;
    transform: scale(1);
}
menu li a:hover{
  transform: scale(1.1);
  color: #7245d4;
}
menu li a:active{
  transform: scale(1);
}
.burger-menu{
    display: none;
}
.responsive {
    width: auto;
    height: auto;
}
.logo{
    line-height: 80px;
    width: 25%;
    display: inline-flex;
    align-items: center;
    margin-left: 2%;
    float: left;
    font-size: 20px;
}
.logo a{
  color: #FFF;
  text-decoration: none;
}
@media(max-width: 578px){
  .counter{
    margin-top: 25%;
  }
}
@media(max-width: 1300px){
    .logo h2{
        font-size: 18px;
    }
    menu li{
        font-size: 10px;
    }
}

@media(max-width: 992px){
  body.lock{
    overflow: hidden;
  }
    menu{
        display: none;
    }
    .logo{
        justify-content: start;
        position: absolute;
        left: 5%;
        width:95% ;
        margin-left: 0;
    }
    nav{
        position: fixed;
        width: 100%;
    }
    .burger-menu{
        display: flex;

    }
    .menu-btn{
        display: flex;
        align-items: center;
        position: absolute;
        top: 27px;
        right: 5%;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 3;
      }
       
      .menu-btn > span,
      .menu-btn > span::before,
      .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #FFF;
        transition-duration: .25s;
      }
      .menu-btn > span::before {
        content: '';
        top: -8px;
      }
      .menu-btn > span::after {
        content: '';
        top: 8px;
      }
      .menubox ul{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .menubox{
        text-align: start;
        display: block;
        position: fixed;
        visibility: hidden;
        z-index: -5;
        top: 5%;
        right: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #000;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
      }
      .menu-item {
        display: block;
        padding: 12px 24px;
        color: #FFF;
        font-family: Manrope, sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none ;
        transition-duration: .25s;
      }
      .menu-item:hover {
        background-color: #000;
      }
      .menu-item:visited{
          color: white;
      }
       
      .menubox li{
        float: none;
        width: 100%;
        height: 10%;
      }
      #menu-toggle{
        opacity: 0;
      }
       
      #menu-toggle:checked ~ .menu-btn > span{
        transform: rotate(45deg);
      }
      #menu-toggle:checked ~ .menu-btn > span::before{
        top: 0;
        transform: rotate(0);
      }
      #menu-toggle:checked ~ .menu-btn > span::after{
        top: 0;
        transform: rotate(90deg);
      }
      #menu-toggle:checked ~ .menubox{
        visibility: visible;
        right: 0;
        overflow: hidden;
      }
      .menubox a:active{
        visibility: hidden;
      }
      body.lock{
        overflow: hidden;
      }
      
}
.lock-scroll {
  overflow: hidden;
}
.title_conteiner{
    position: relative;
    color: white;
    background: url("../img/headFon.jpg") center/cover no-repeat;
    width: 100%;
    z-index: -6;
    
}


.title_conteiner h1{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}
.title_conteiner h3{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}
.title_conteiner h4{
  font-size: 20px;
    font-weight: normal;
    text-align: center;
}

@media(max-width: 1200px){
  .title_conteiner{
    color: white;

  }
}
@media(max-width: 485px){
  .title_conteiner h1{
    font-size: 43px;
}
.title_conteiner h3{
    font-size: 12px;
}
}

.title_conteiner form {
  position: relative;
  width: 100%;
  margin: 0 auto;
  
}
.title_conteiner form input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border-radius: 10px;
  z-index: 9;
  cursor: text;
  outline: none;
  background: #FFF;
  color: #9E9C9C;
}
.title_conteiner form button {
  position: absolute; 
  z-index: 10;
  top: 12px;
  right: -10px;
  width: 42px;
  height: 42px;
  background: url(../img/search-icon.png) no-repeat;
  border-radius: 0 5px 5px 0;
  cursor:pointer;
  
}
.head_btn:hover{
  background-color: #7245d4;
}
.head_btn:active{
  transform: scale(0.95);
}
.title_conteiner button:before {
  content: "";
  font-size: 16px;
  color: #F9F0DA;
}
.head_btn{
  height: 58px;
  background-color: #FFF;
  color: #000;
  font-size: 20px;
  border-radius: 10px;
  width: 100%;
  transition: all 0.1s ease-in;
  transform: scale(1);
}
.title_conteiner h5{
  font-size: 28px;
}
.cont{
  line-height: 35px;
}
@media (max-width: 578px) {
  .head_btn{
    margin-top: 20px;
    margin-left: 20%;
    width: 60%;
  }
  .title_conteiner h5{
    display: none;
  }
  .cont{
    width: 60%;
  }
}

.vacancies h2{
  font-size: 50px;
  color: #000;
}

.vacancies input{
  width: 229px;
  height: 40px;
  color: #000;
  background-color: #F9F9F9;
  border-radius: 5px;
  transition: all 0.1s ease-in;
  transform: scale(1);
}
.start_btn:hover{
  color: #7245d4;
  transform: scale(1.1);
}
.start_btn:active{
  transform: scale(1);
}
.vac-1 img{
  display: inline-block;
}
.vac-1 h3{
  display: inline-block;
  font-size: 15px;
}
.vac-1 h5{
  font-size: 14px;
  color: #C8C8C8;
  display: inline-block;
}
.vac-1{
  width: 600px;
  height: 298px;
  border: 2px solid #E9E9E9;
}
.vac-1 h4{
  font-size: 19px;
  font-weight: bold;
}
.vac-1 p{
  font-size: 15px;
}
.vac-1 input{
  width: 190px;
  height: 40px;
  font-size: 13px;
  font-weight: 550;
  transition: all 0.1s ease-in;
  transform: scale(1)
}
.vac-1 input:hover{
  color: #7245d4;
  transform: scale(1.1);
}
.vac-1 input:active{
  transform: scale(1);
}

.vac-1 button{
  width: 190px;
  height: 40px;
  font-size: 13px;
  font-weight: 550;
  border-radius: 5px;
  background-color: #FFF;
  border: 2px solid #96C857;
  color: #96C857;
  transition: all 0.1s ease-in;
  transform: scale(1)
}
.vac-1 button:hover{
  color: #000;
  background-color: #96C857;
  transform: scale(1.1);
}
.vac-1 button:active{
  transform: scale(1);
}
.vac-2{
  width: 600px;
  height: 298px;
  border: 2px dashed #E9E9E9;
}
.vac-2 h4{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.vac-2 h5{
  font-size: 15px;
  text-align: center;
}
.vac-2 input{
  width: 190px;
  height: 40px;
  font-size: 13px;
  font-weight: 550;
  transition: all 0.1s ease-in;
  transform: scale(1)
}
.vac-2 input:hover{
  color: #7245d4;
  transform: scale(1.1);
}
.vac-2 input:active{
  transform: scale(1);
}
@media(max-width: 1200px) {
  .vac-1 h4{
    font-size: 16px;
  }
  .vac-1{
    height: 320px;
  }
  .vac-2{
    height: 320px;
  }
  
}
@media(max-width: 992px) {
  .start_btn{
    display: none;
  }
  .opst{
    display: flex;
  }
}
@media(min-width: 992px) {
.opst{
  display: none;
}
}
@media(max-width: 500px) {
  .vac-1 input{
    width: 120px;
    font-size: 10px;
  }
  
  .vac-1 button{
    width: 120px;
    font-size: 10px;
   
  }
  .vac-1{
    height: 370px;
  }
  .vacancies h2{
    text-align: center;
    font-size: 32px;
  }
  .vac-1 h5{
    font-size: 13px;
  }
}
.activity{
  color: #FFF;
  background-color: #401E89;

}
.activity h2{
  font-size: 50px;
  text-align: center;
  color: #FFF;
}

.date{
  width: 100%;   
}
.block{
  display: flex;
  background-color: #FFF;
  height: 60px;
  width: 100%;
  
  justify-content: space-around;
}
.activity{
  position: relative;
  z-index: -4;
}
.date h3{
  display: inline;
  font-size: 13px;
  line-height: 58px;
  color: #C8C8C8;
}
.date ul{
  line-height: 65px;
  display: flex;
  justify-content: space-around;
}
.date li{
  color: #000;
  float: left;
}
.activitye form{
  
  width: 80%;   
                                   
  color: #8B79BE;
}
.activity form input {
  margin-left: 30px;
  z-index: 9;
  cursor: text;
  outline: none;
  background-color: #401E89;
  color: #8B79BE;
}
.activity form button {
  position:relative; 
  z-index: 10;
  top: 8px;
  left: -210px;
  width: 42px;
  height: 42px;
  background: url(../img/search-icon.png) no-repeat;
  cursor:pointer;
}
.activity button:before {
  content: "";
  font-size: 16px;
  color: #8B79BE;
}
.news{
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: space-around;
}
.news a{
  color: #FFF;
}
.news a:visited{
  color: #FFF;
}
.new{
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 230px;
  height: 280px;
  
}

.news img{
  position:absolute;
  z-index: -2;
}
.news h5{
  font-size: 14px;
  padding-left: 15px;
}
.news span{
  display:  flex;
  padding-left: 15px;
  padding-bottom: 15px;
}
.news a:visited{
  color: #FFF;
  text-decoration: none;
}
.activity input::-webkit-input-placeholder {
  color: #8B79BE;
 } 
 .activity input::-moz-placeholder {
  color: #8B79BE;
 }
.activity h6{
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  padding-bottom: 30px;
}
.activity h4{
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}
.more{
  color: #fff;
  text-decoration: none;
}
.more:hover{
  color: #8B79BE;
  text-decoration: none;
}

.more:visited{
  color: #fff;
  text-decoration: none;
}


@media(max-width: 1400px) {
  .news{
    justify-content: space-between;
  }
}
@media(max-width:1200px) {
  .new{
    margin-bottom: 50px;
  }
  .news{
    align-items: center;
    flex-direction: column;
  }
  .date{
    display: none;
  }  
  .activitye form{
    width: 20%;
  }
}
.stories{
  position: relative;
  z-index: -10;
}
.stories h2{
  font-size: 50px;
  text-align: center;
}

.arrow {
  position: absolute;
  top: 60px;
  padding: 0;
  line-height: 24px;
  background-color: #FFF;
  display: block;
}
.prev {
  left: 12px;
}
.next {
  right: 7px;
}
.gallery{
overflow: hidden;
}
.carousel {
  width: 920px;
  position: relative;
  padding: 10px 40px;;
}
@media (max-width:1000px) {
  .carousel {
    width: 790px;
  }
}
@media (max-width:840px) {
  .carousel {
    width: 650px;
  }
}
@media (max-width:650px) {
  .carousel {
    width: 355px;
  }
}
@media (max-width:400px) {
  .carousel {
    width: 205px;
  }
}
.arrow:focus {
outline: none;
}

.arrow:hover {
cursor: pointer;
}

.stories ul {
height: 157px;
width: 9999px;
margin: 0;
padding: 0;
list-style: none;
font-size: 0;
transition: 500ms;
}

.stories ul img {
height: 110px;
padding-right: 15px;
padding-left: 15px;
}

.stories ul li {
display: inline-block; 
}
.stories h4{
  padding-top: 15px;
  font-size: 13px;
  text-align: center;
}
.stories h5{
  font-size: 18px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #2C2579;
}
.stories h3{
  font-size:  35px;
  text-align: center;
}
.stories p{
  font-size: 15px;
  text-align: center;
}
.name{
  line-height: 30px;
}
.name img{
  padding-bottom: 6px;
}
.info h2{
  font-size: 35px;
  font-weight: 600;
  text-align: left;
}
.bl{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 25px;
  padding-left: 80px;
  background-color: #F9F9F9;
  width: 532px;
  height: 550px;
}
.info p{
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  padding: 1rem;
}
.info button{
  font-weight: bold;
  font-size: 18px;
  background-color: #F9F9F9 !important;
  border: none !important;
  color: #000 !important;
  box-shadow: none !important;
}
.info button:hover{
  background-color: #F9F9F9 !important;
  color: #7e6ab4 !important;
  text-decoration: none;
  box-shadow: none !important;
  border: none !important;
}
.info button:active{
  background-color: #F9F9F9 !important;
  color: #000 !important;
  text-decoration: none;
  box-shadow: none !important;
  border: none !important;
}
.info button:visited{
  background-color: #F9F9F9 !important;
  color: #000 !important;
  text-decoration: none !important;
  box-shadow: none !important;
  border: none !important;
}
.modal-body{
  padding: 0;
}
.info a{
  color: #000;
}
.info a:visited{
  color: #000;
}

.info img{
  padding-right: 20px;
}
.conv img{
  padding-right: 0px;
}
.info li{
  padding-top: 30px;
  font-size: 18px;
}
.info a{
  text-decoration: none;
  font-weight: 600;
}
.info a:hover{
  text-decoration: none;
  color: #7e6ab4;
}
.partner h2{
  font-size: 50px;
  text-align: center;
}
.opst1{
  display: none;
}
@media (max-width: 1200px) {
  .bl{
  width: 420px;
  height: 590px;
  }
  .opst1{
    display: flex;
  }
}
@media (max-width: 578px) {
  .info h2{
    font-size: 25px;
  }
}
.responsive {
  width: 100%;
  height: auto;
}
.jorn  h2{
  font-size: 50px;
  text-align: center;
}
.jorn{

  padding-left: 7%;
  padding-right: 7%;
  background: url("../img/Vector.jpg") center/cover no-repeat;
}
.jorn p{
  text-align: center;
  font-size: 18px;
}
.jorn p img{
  padding-bottom: 4px;
}
.jorn span{
  font-family: 'Pacifico', cursive;
}
.jornMenu button{
  color: #fff;
  width: 178px;
  height: 40px;
  border-radius: 10px;
  transition: all 0.1s ease-in;
  transform: scale(1);
}
.jornMenu button:hover{
  transform: scale(1.1);
}
.jornMenu button:active{
  transform: scale(1);
}
@media (max-width:1250px) {
  .jornMenu button{
    float: left;
  }
}
@media (max-width:400px){
  .activity h2{
    font-size: 38px;
  }
}
.b1{
  background-color: #8B79BE;
}
.b2{
  background-color: #D98658;
}
.b3{
  background-color: #A56A49;
}
.b4{
  background-color: #D15792;
}
.b5{
  background-color: #B9BE79;
}
.b6{
  background-color: #4B9BAC;
}
.jorn span{
  font-size: 18px;
}
.jorn ul{
  line-height: 65px;
  display: flex;
  justify-content: center;
}
.jorn li{
  color: #000;
  float: left;
  display: flex;
  justify-content: space-around;
}
.jorn form{
  
  width: 80%;   
                                   
  color: #8B79BE;
}

.home-demo .item img{
  position: absolute;
  z-index: -5;
  width : 230px !important;

}
.home-demo .item span{
  padding-left: 15px;

}
.home-demo .item h5{
  font-size: 14px;
  padding-left: 15px;
  padding-bottom: 15px;
}
.home-demo .item a:visited{
  color: #FFF;
}
.home-demo .item a{
  text-decoration: none;
}
@media (max-width: 992px) {
  .home-demo .owl-dots{
    display: none;
  }
}
.new{
  color: #FFF;
}
.jornNews a{
  color: #FFF;
}
.jornNews a:visited{
  color: #FFF;
}
.jornNews a:hover{
  color: rgb(232, 202, 240);
}
.jornNews a:checked{
  color: #FFF;
}
.opst2{
  display: none;
}
.jornCover .col-8{
  width: 100%;
}
.jornCover {
  margin-left: 14px;
}
@media (max-width: 576px){
.jorn .justify-content-sm-center {
    justify-content: center!important;
}
.jornCover .col-8{
      width: 61%;
  }
}
@media (max-width: 476px){
  .jornCover .col-8{
    width: 80%;
}
footer p{
  font-size: 10px;
}
}
@media (max-width: 410px){
  .jornCover .col-8{
    width: 85%;
  }
  
}
@media (max-width: 390px){
  .jornCover .col-8{
    width: 104%;
}
}
footer{
  width: 100%;
  height: 125px;
  background-color: #000;
}
footer p{
  line-height: 125px;
  color: #FFF;
  text-align: center;
}